
{% extends "base.html" %}

{% block content %}

<h1>Welcome to Blog</h1>

<!-- MAKE SURE TO MATCH THE BLOGS VARIABLE PASSED IN FROM MAIN.PY -->
{% if blogs |length == 0  %}
<p>
  No blogs yet...
</p>
{%  else  %}
  <ul>
<!-- MAKE SURE TO MATCH THE BLOGS VARIABLE PASSED IN FROM MAIN.PY -->
    {%for blog in blogs %}
        <li>
            <a href="/single_template?id={{blog.id}}">{{blog.title}}</a>
          {{blog.content}}
      <!-- <input type="submit" value="Done!" /> -->
          <!-- <input type="submit" value="Create Blog!" /> -->
          <input type="hidden" name="blog-id" value="{{blog.id}}" />
      </form>
      <hr />
    </li>
    {% endfor %}
  </ul>
{% endif %}

<hr />



{% endblock %}
